<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[SLF4J_LOGBACK] %level %logger %msg %n</pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="STDOUT"></appender-ref>
	</root>

	<logger name="org.glassfish.jersey" level="trace" />
	<logger name="org.odata4j" level="trace" />
	<logger name="net.gplatform" level="trace" />
	<logger name="org.eclipse.persistence" level="trace" />
    <logger name="javax.validation" level="trace" />
    <logger name="org.hibernate" level="trace" />

</configuration>