<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Sudoor Lib</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="_csrf" th:content="${_csrf?.token}"/>
		<!-- default header name is X-CSRF-TOKEN -->
		<meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
		<script th:src="@{/app/web/jquery/jquery-1.11.1.js}"></script>
		<script th:src="@{/app/web/security/security.js}"></script>
	</head>
	<body  layout:fragment="topBody">
		topLayout - topBody
	</body>
</html>