<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="connect/layout">
	<body>
		<div id="content" layout:fragment="content">
			<h3>Your LinkedIn Connections</h3>
			
			<p>First degree count: <span th:text="${firstDegreeCount}">first degree count</span></p>
			<p>Second degree count: <span th:text="${secondDegreeCount}">second degree count</span></p>
			
			<ul class="friends">
				<li th:each="connection : ${connections}">
				<img th:src="${connection.profilePictureUrl}" align="middle"/><span th:text="${connection.firstName}"></span> <span th:text="${connection.lastName}"></span></li>
			</ul>
		</div>
	</body>
</html>
