<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="sudoor/topLayout">
	<head>
		<title>Spring Social Showcase</title>
		<link rel="stylesheet" th:href="@{/app/web/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/app/web/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/app/web/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body layout:fragment="topBody">
		<div id="header">
			<h1><a th:href="@{/app/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="leftNav">
			<h4><a th:href="@{/app/connect}">Connections</a></h4>
			
			<h4><a th:href="@{/app/twitter}">Twitter</a></h4>
			<div social:connected="twitter">
			<ul class="menu">
				<li><a th:href="@{/app/twitter}">User Profile</a></li>
				<li><a th:href="@{/app/twitter/timeline}">Timeline</a></li>
				<li><a th:href="@{/app/twitter/friends}">Friends</a></li>
				<li><a th:href="@{/app/twitter/followers}">Followers</a></li>
				<li><a th:href="@{/app/twitter/messages}">Messages</a></li>
				<li><a th:href="@{/app/twitter/trends}">Trends</a></li>
				<li><a th:href="@{/app/twitter/revoked}">Sim Revoked</a></li>
			</ul>
			</div>
			<h4><a th:href="@{/app/facebook}">Facebook</a></h4>
			<div social:connected="facebook">
			<ul class="menu">
				<li><a th:href="@{/app/facebook}">User Profile</a></li>
				<li><a th:href="@{/app/facebook/feed}">Feed</a></li>
				<li><a th:href="@{/app/facebook/friends}">Friends</a></li>
				<li><a th:href="@{/app/facebook/albums}">Albums</a></li>
				<li><a th:href="@{/app/facebook/expired}">Sim Expired</a></li>
			</ul>
			</div>
			
			<h4><a th:href="@{/app/linkedin}">LinkedIn</a></h4>
			<div social:connected="linkedin">
			<ul class="menu">
				<li><a th:href="@{/app/linkedin}">User Profile</a></li>
				<li><a th:href="@{/app/linkedin/connections}">Connections</a></li>
			</ul>
			</div>
			
			<h4><a th:href="@{/app/weibo}">Weibo</a></h4>
			<div social:connected="weibo">
			<ul class="menu">
				<li><a th:href="@{/app/weibo}">User Profile</a></li>
				<li><a th:href="@{/app/weibo/connections}">Connections</a></li>
			</ul>
			</div>
		</div>
		
		<div id="content" layout:fragment="content">
			Content goes here
		</div>		
	</body>
</html>
