<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="connect/layout">
	<body>
		<div id="content" layout:fragment="content">
			<h3>Connect to Weibo</h3>
			
			<form th:action="@{/app/connect/weibo}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<input type="hidden" name="scope" value="r_basicprofile r_emailaddress r_network r_fullprofile rw_nus" />
				<div class="formInfo">
					<p>
						You haven't created any connections with Weibo yet. Click the button to connect Spring Social Showcase with your Weibo account. 
						(You'll be redirected to Weibo where you'll be asked to authorize the connection.)
					</p>
				</div>
				<p><button type="submit">Connect with Weibo</button></p>
			</form>
		</div>		
	</body>
</html>

